- if keys and keys.any?
  .form
    - keys.each do |key|
      - value = model.config_value(key[0], nil, false)
      - value = value.encode('UTF-16le', invalid: :replace, replace: '').encode('UTF-8') if value.class == String
      .form-group
        = render '/universal/configurables/form', key: key, value: value, model: model
  = render '/universal/configurables/js'
- else
  .alert.alert-info Easy Config Not Applicable