:javascript
  function setKeyValue(model_class, model_id, name, key, value){
    $.ajax({type: 'POST', url: "/universal/configurables", data: "model_class=" + model_class + "&model_id=" + model_id + "&name=" + name + "&key=" + key + "&value=" + escape(value)})
  }
  function removeKeyValue(model_class, model_id, key){
    $.ajax({type: 'POST', url: "/universal/configurables/delete", data: "model_class=" + model_class + "&model_id=" + model_id + "&key=" + key});
  }